* {
    margin: 0px;
}

body {
    font-family: sans-serif;
}

.header {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1470px;
}

.mg {
    background-color: #F4F4F5;
    padding: 10px;
    border-radius: 10px;
}

.header1 {
    margin: auto;
    margin-top: 50px;
    padding-top: 60px;
    width: 1740px;
    background-color: #F4F4F5;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.divleft {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.divright {
    margin-top: -170px;
}

.btn {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #D7B18D;
    font-size: 20px;
}

.podbor {
    width: 800px;
    font-weight: 400;
    font-size: 80px;
}

.darun_dl {
    display: flex;
    gap: 10px;
}

.img2 {
    position: relative;
    bottom: 150px;
    top: 3px;
}

.mimg2 {
    display: none;
}

.mpage {
    display: none;
}

.img3 {
    display: none;
}

.header2 {
    padding: 30px;
    margin: auto;
    margin-top: 130px;
    padding-top: 30px;
    width: 1690px;
    height: 175px;
    background-color: #212731;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.btns {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.btn1 {
    background-color: #28303D;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    color: white;
    border: 0px;
}

.btn2 {
    background-color: #28303D;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    color: white;
    border: 0px;
}

.see {
    width: 630px;
    color: white;
    font-size: 75px;
    font-weight: 400;

}

.img4 {
    position: absolute;
    right: 75px;
    top: 1020px;
}

.img5 {
    z-index: 2;
    position: relative;
    bottom: 30px;

}

.mimg3 {
    display: none;
}

/***********/
.nas {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    margin-left: 70px;
}

.boxs {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 378px;
    height: 250px;
    padding: 25px;
    border: 1px solid #00000014;
    border-radius: 10px;
}

.btns1 {
    display: flex;
    gap: 10px;
}

.line {
    border: 1px solid #00000014;
}

.btn3 {
    width: 200px;
    height: 53px;
    border-radius: 10px;
    border: none;
    background-color: #D7B18D;
    font-size: 20px;
}

.btn4 {
    width: 200px;
    height: 53px;
    border-radius: 10px;
    border: 1px solid #D7B18D;
    background-color: #ffffff;
    font-size: 20px;
}

.hao {
    font-size: 16px;
    font-weight: 500;
    color: #848C9A;
}

.ot {
    font-size: 24px;
    font-weight: 700;
    color: #212731;
}

.menejer {
    font-size: 20px;
    font-weight: 500;
    color: #212731;
}

.boxs2 {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.box1 {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 378px;
    height: 100px;
    padding: 25px;
    border: 1px solid #00000014;
    border-radius: 10px;
}

.txt {
    display: flex;
    justify-content: space-between;
}

.green {
    font-size: 14px;
    font-weight: 500;
    color: #08A652;
}

.mboxs {
    display: none;
}

.cards {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 350px;
    height: 136px;
    padding: 25px;
    border: 1px solid #00000014;
    border-radius: 10px;
}

.vakanciya {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #848C9A;
}

.images1 {
    margin-top: -7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seb {
    display: flex;
    gap: 10px;
    align-items: center;
}
.ceb{
    font-weight: 700;
    font-size: 24px;
}
.btn5{
    margin-left: -15px;
    width: 379px;
    height: 62px;
    border-radius: 10px;
    border: 1px solid #D7B18D;
    background-color: white;
    font-size: 20px;
    font-weight: 400;
}
@media(max-width:510px) {
    .card{
        margin-left: 55px;
    }
    .box1 {
        margin-left: 12px;
        width: 360px;
    }

    .mbox {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        width: 360px;
        height: 250px;
        padding: 25px;
        border: 1px solid #00000014;
        border-radius: 10px;
    }

    .mboxs {
        margin-left: 55px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .boxs {
        display: none;
    }

    .boxs2 {
        display: flex;
        flex-direction: column-reverse;
    }

    .nas {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }

    .mimg3 {
        display: block;
        position: absolute;
        left: 261px;
        top: 800px;
    }

    .header2 {
        margin-left: 13px;
        padding: 15px;
        margin-top: 200px;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: start;
        align-items: center;

    }

    .see {
        width: 216px;
        font-size: 25px;
    }

    .btns {
        display: flex;
        flex-direction: column;
        width: 210px;
    }

    .btn1 {
        width: 120px;
    }

    .btn2 {
        width: 180px;
    }

    .img4 {
        display: none;
    }

    .img5 {
        display: none;
    }

    .darun_dl {
        margin: auto;
        z-index: 2;
    }

    .btn {
        width: 350px;
        height: 50px;
        border-radius: 10px;
        border: none;
        background-color: #D7B18D;
        font-size: 20px;
    }

    .divleft {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    .img2 {
        display: none;
    }

    .img3 {
        display: block;
        position: absolute;
        top: 300px;
        left: 30px;
        width: 406px;
        z-index: 1;
    }

    .mpage {
        margin: auto;
        display: block;
        width: 182px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
    }

    .header1 {
        padding: 10px;
        width: 100%;
        padding-top: 0px;
        margin-top: 0px;
        display: flex;
        background-color: white;
        flex-direction: column;
    }

    .mimg2 {
        z-index: 2;
        margin: auto;
        margin-top: 210px;
        display: block;
        width: 400px;

    }

    .mimg1 {
        display: none;
    }

    .podbor {
        margin: auto;
        text-align: center;
        width: 85%;
        font-size: 40px;
    }

    .header {
        width: 100%;
        margin-top: 0px;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        gap: 0px;
    }

    .img1 {
        width: 100px;
        height: 21px;
    }

    .mg {
        background-color: white;
        padding: 0px;
        border-radius: 0px;
    }
}