*{
    margin: 0px;
}
.header{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1470px;
}
.mg{
    background-color: #F4F4F5;
    padding: 10px;
    border-radius: 10px;
}
@media(max-width:510px){
    .header{
        margin-top: 0px;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        gap: 0px;
    }
    .img1{
        width: 100px;
        height: 21px;
    }
    .mg{
        background-color: white;
        padding: 0px;
        border-radius: none;
    }
}